---
import fetchSongs from "../../database/fetchSongs";
import Layout from '../../layouts/Layout.astro';
import SongText from '../../components/SongText/SongText.svelte'
import fetchSong from "../../database/fetchSong";
import {Song} from "../../interfaces/Song";

export async function getStaticPaths() {
       // url der seite
       console.log('how many times does it gets executed')
       return fetchSongs().map((song) => ({params: {id: song.title}}))
    }
// webiny anbinden als ssg
const { id } = Astro.params
const song: Song | undefined = fetchSong(id)
---

<Layout title="Willkommen bei Nicolas Banger Sucher Webseite!">
       <p style={{color:'white', paddingTop: '1rem'}}></p>
       {song ?  <SongText song={song} /> :  <p style={{color:'white'}}>Oh well, that's sad. No song found</p> }
</Layout>

