---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card';
import SONGS from '../assets/tmpSongs.json'
---

<Layout title="Welcome to Astro.">
	<main>
		<ul role="list" class="link-card-grid">
			{SONGS.map(({title, img, album})=> <Card
				href={title}
				title={title}
				body={album}
				image={img}
			/>)}
		</ul>
	</main>
	<a href='https://www.free-counters.org/'>https://www.free-Counters.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=79e7e978a58408e8f8869bec26e84774f091413b'></script>
	<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1049778/t/0"></script>
</Layout>

<style>
	marquee{
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	main {
		padding: 1.5rem 0 1.5rem 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
