.marquee{
  font-size: 3rem;
  margin-bottom: 2rem;
}
:root {
  background: #000;
  --accent: 253, 224, 71;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  font-family: 'I hate Comic Sans', sans-serif;
}
@font-face {
  font-family: 'I hate Comic Sans', sans-serif;
}
.main{
  padding: 2rem;
  max-width: 1024px;
  margin: auto;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
html {
  font-family: system-ui, sans-serif;
  background-color: #F6F6F6;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}
